<Directory {{ documentroot }}>
  Require all granted
</Directory>

<VirtualHost *:{{ http_port }}>
  DocumentRoot {{ documentroot }}

  RewriteEngine On
  # Return 204 for favicon.ico
  RewriteRule ^/favicon\.ico$ - [R=204,L]

  RemoteIPHeader X-Forwarded-For
  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined
  AddType 'text/plain' .log
  AddCharset UTF-8 .log
  DirectoryIndex browse.cgi
  RedirectMatch permanent "^/packages(.*)/$" "/packages$1"
  Redirect permanent /running.shtml /running

  # robots.txt for disallowing bots
  Alias /robots.txt {{ documentroot }}/static/robots.txt

  # egress forward proxy settings
  {%- if https_proxy %}
  SetEnv HTTPS_PROXY "{{ https_proxy }}"
  {%- if swift_storage_url.startswith('https://') %}
  ProxyRemote "{{ swift_storage_url }}" "{{ https_proxy }}"
  ProxyRemote "https://objectstorage.prodstack5.canonical.com/swift/v1/AUTH_0f9aae918d5b4744bf7b827671c86842/" "http://egress.ps7.internal:3128"
  {%- endif %}
  {%- endif %}
  {%- if http_proxy %}
  SetEnv HTTP_PROXY "{{ http_proxy }}"
  {%- if swift_storage_url.startswith('http://') %}
  ProxyRemote "{{ swift_storage_url }}" "{{ http_proxy }}"
  {%- endif %}
  {%- endif %}
  {%- if no_proxy %}
  SetEnv NO_PROXY "{{ no_proxy }}"
  {%- endif %}

  # webcontrol CGI scripts
  ScriptAlias /request.cgi {{ documentroot }}/request.cgi/
  ScriptAlias /login {{ documentroot }}/request.cgi/login
  ScriptAlias /logout {{ documentroot }}/request.cgi/logout
  ScriptAlias /private-results {{ documentroot }}/private-results.cgi/
  ScriptAlias / {{ documentroot }}/browse.cgi/

  # reverse proxy rules
  SSLProxyEngine on
  {% if swift_storage_url %}
  ProxyPassMatch "^/results/(autopkgtest-[a-z0-9-]+/[a-z]+/[a-z0-9]+/[a-z0-9]+/[a-z0-9.-]+/20(?:(?:[01][0-9]|2[0-5])[0-9]{4}|260[0-3][0-9]{2}|2604[01][0-9]|26042[0-8])_[0-9]+_[a-z0-9]+@/log.gz)" "https://objectstorage.prodstack5.canonical.com/swift/v1/AUTH_0f9aae918d5b4744bf7b827671c86842/$1"
  ProxyPass "/results/" "{{ swift_storage_url }}"
  {%- endif %}
  ProxyPass "/rabbitmq-management/" "http://{{ rabbithost }}:15672/"

  ServerName {{ servername }}
</VirtualHost>
