[Unit]
Description=Pull autopkgtest-package-configs

[Service]
Type=oneshot
User={{ user }}
EnvironmentFile=-/etc/environment.d/proxy.conf
ExecStart=/usr/bin/git -C {{ autopkgtest_package_configs_location }} pull
