[Unit]
Description=autopkgtest worker %i
ConditionFileNotEmpty=/etc/autopkgtest-dispatcher/rabbitmq.cred
ConditionFileNotEmpty=/etc/autopkgtest-dispatcher/swift.cred
Wants=network-online.target
After=network-online.target

[Service]
User={{ user }}
TimeoutStartSec=5min
EnvironmentFile=-/etc/environment.d/proxy.conf
EnvironmentFile={{ conf_directory }}/rabbitmq.cred
EnvironmentFile={{ conf_directory }}/swift.cred
ExecStart=/bin/sh -ec '\
    param="%i"; \
    remote="$${param%-*}"; \
    remote_base="$${remote%-*}"; \
    arch="$${remote_base#*-}"; \
    juju_unit=$$(find /var/lib/juju/agents -maxdepth 1 -type d -name "unit-*" -printf %%f); \
    dispatcher="$${juju_unit#unit-}"; \
    name="$${dispatcher}-$${param}"; \
    exec /usr/local/bin/worker --config "{{ conf_directory }}/worker.conf" -v LXD_REMOTE="$$remote" -v NAME="$$name" -a "$$arch"'
ExecReload=/bin/kill -HUP $MAINPID
SuccessExitStatus=0 99 SIGTERM SIGHUP
RestartSec=2min
Restart=on-failure

[Install]
WantedBy=multi-user.target
