[Unit]
Description=autopkgtest worker %i
ConditionFileNotEmpty=/etc/autopkgtest-dispatcher/rabbitmq.cred
ConditionFileNotEmpty=/etc/autopkgtest-dispatcher/swift.cred
Wants=network-online.target
After=network-online.target

[Service]
User={{ user }}
TimeoutStartSec=5min
EnvironmentFile=-/etc/environment.d/proxy.conf
EnvironmentFile={{ conf_directory }}/rabbitmq.cred
EnvironmentFile={{ conf_directory }}/swift.cred
ExecStart=/bin/sh -ec 'REGION="%i"; REGION="$${REGION%-*}"; \
    CONF="{{ conf_directory }}/worker.conf"; \
    LXD_ARCH=$${REGION#*-}; \
    exec env REGION=$${REGION} /usr/local/bin/worker --config $$CONF -v LXD_ARCH=$$LXD_ARCH -v LXD_REMOTE=$$REGION -a $$LXD_ARCH'
ExecReload=/bin/kill -HUP $MAINPID
SuccessExitStatus=0 99 SIGTERM SIGHUP
# RestartSec=5min
# Restart=on-failure
# StartLimitInterval=10m
# StartLimitBurst=3

[Install]
WantedBy=multi-user.target
