[Unit]
Description=Collect & submit metrics

[Service]
Type=oneshot
EnvironmentFile=/etc/influx.cred
ExecStart=/home/ubuntu/autopkgtest-cloud/tools/metrics
TimeoutStartSec=10m
