[Unit]
Description=Pull /home/ubuntu/autopkgtest-package-configs/

[Service]
Type=oneshot
WorkingDirectory=/home/ubuntu/autopkgtest-package-configs/
ExecCondition=/usr/bin/git diff --quiet
ExecStart=/usr/bin/git pull
