[web]
database={{ database }}
database_ro={{ database_ro }}
ExternalURL=http://127.0.0.1:5000/results
stats_cache_dir={{ data }}
ppa_containers_cache_dir={{ data }}
archive_url=http://archive.ubuntu.com/ubuntu
amqp_queue_cache={{ data }}/queued.json
running_cache={{ data }}/running.json
allowed_requestors=autopkgtest-requestors

[amqp]
uri=amqp://{{ rabbituser }}:{{ rabbitpassword }}@{{ rabbithost }}

[swift]
os_region_name = canonistack-bos01
os_auth_url = https://keystone.bos01.canonistack.canonical.com:5000/v3
os_project_domain_name = default
os_username = user
os_user_domain_name = default
os_project_name = user_project
os_password = complicatedpassword
os_identity_api_version = 3

[influxdb]
influxdb_hostname = localhost
influxdb_port = 8086
influxdb_username = user
influxdb_password = complicatedpassword
influxdb_database = metrics
influxdb_context = developmen
