[Unit]
Description=Collect queue entries from AMQP

[Service]
User={{ user }}
Type=oneshot
TimeoutStartSec=600
StateDirectory=autopkgtest-queue-collector
ExecStart={{ webcontrol }}/autopkgtest-queue-collector
