[Unit]
Description=Read running test status from RabbitMQ (running.json)

[Service]
User={{ user }}
Type=exec
ExecStart={{ webcontrol }}/autopkgtest-running-collector

[Install]
WantedBy=multi-user.target
