[Unit]
Description=Collect & submit metrics

[Service]
Type=oneshot
User=ubuntu
Group=ubuntu
EnvironmentFile=/home/ubuntu/influx.cred
ExecStart=/home/ubuntu/autopkgtest-cloud/tools/metrics
TimeoutStartSec=10m
