{% extends "browse-layout.html" %}
{% import "macros.html" as macros %}

{% block content %}
  <h2>Test runs for {{ ppa_name }}</h2>

  {% if test_runs %}
    {% for package, runs in test_runs.items() %}
      <h2>{{ package }}</h2>
      <table class="table">
        <tr>
          <td>
            <b>Release</b>
          </td>
          <td>
            <b>Arch</b>
          </td>
          <td>
            <b>
              Date
            </b>
          </td>
          <td></td>
        </tr>
        {% for run in runs %}
          <tr>
            <td>{{ test_runs[package][run]["release"] }}</td>
            <td>{{ test_runs[package][run]["arch"] }}</td>
            <td>{{ test_runs[package][run]["date"] }}</td>
            <td class="nowrap">
              <a href="{{ base_url }}results/{{ test_runs[package][run]['container_name'] }}/{{ test_runs[package][run]['fullname'] }}/log.gz">log</a> &emsp;
              <a href="{{ base_url }}results/{{ test_runs[package][run]['container_name'] }}/{{ test_runs[package][run]['fullname'] }}/artifacts.tar.gz">artifacts</a>
            </td>
          </tr>
        {% endfor %}
      </table>
    {% endfor %}
  {% endif %}
{% endblock content %}
