[Unit]
Description=Timer to build autopkgtest testbed container (%i)
After=autopkgtest.target

[Timer]
OnBootSec=24h
OnUnitInactiveSec=24h
RandomizedDelaySec=6h
