{% extends "browse-layout.html" %}
{% import "macros.html" as macros %}

{% block content %}
  <h2 class="mb-4">PPA containers for {{ user }}</h2>

  {% if ppas %}
    <div class="row">
      {% for name, releases in ppas.items() %}
        <div class="col-md-6 col-lg-4 mb-3">
          <a href="{{ base_url }}user/{{ user }}/ppa/{{ name }}">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">{{ name }}</h5>
                <div class="mt-2">
                  {% for release in releases %}<span class="badge bg-secondary me-2 mb-2">{{ release }}</span>{% endfor %}
                </div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No PPAs automatically identified for {{ user }}.</p>
    <p>
      You may manually navigate to a PPA's results by going to {{ base_url }}results/autopkgtest-releasename-username-ppaname.
    </p>
  {% endif %}
{% endblock content %}
