{% extends "browse-layout.html" %}
{% block content %}
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Recent test runs</div>
          <div class="list-group">
            {% for (res, pkg, rel, arch, trigs, uuid) in recent_runs %}
              <a class="list-group-item" href="{{base_url}}run/{{uuid}}">
                <span class="{{res}}">{{pkg}} on {{rel}}/{{arch}}</span>
                <br />
                <small class="text-muted">Triggers: {{trigs}}</small>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Package Index</div>
          <div class="panel-body">
            <p>
              You can navigate to {{base_url}}packages/<i>packagename</i> to get
              results for a particular package.
            </p>

            <ul class="list-inline">

              {% for i in indexes %}
                <li>
                  <h5>
                    <a href="{{base_url}}testlist#index-{{i}}">{{i}}</a>
                  </h5>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Machine readable data</div>
          <div class="panel-body">
            <ul>
              <li>
                <a href="{{base_url}}static/autopkgtest.db">SQLite database with results</a> (<a href="{{base_url}}static/autopkgtest.db.sha256">sha256</a>)
              </li>
              <li>
                <a href="{{base_url}}static/running.json">Currently running tests in JSON format</a>
              </li>
              <li>
                <a href="{{base_url}}queues.json">Queued tests in JSON format</a>
              </li>
              {% if commit_hash %}
                <li>
                  autopkgtest-web version: <a href="https://git.launchpad.net/autopkgtest-cloud/commit/?id={{commit_hash}}">{{commit_hash[:7]}}</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>

    </div>
    <!-- main row -->
  </div>
  <!-- class='container' -->
{% endblock content %}
